body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(254, 229, 229) !important;
}

.navbar{
    color: black;
}
.navbar-brand{
    color: black;
}
.nav-link{
    color: black;
}

h3{
    text-align: center;
    color: black;
}

.user_card {
    width: 650px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgb(250, 205, 205);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form_container {
    margin-top: 20px;
}

#form-title {
    color: #fff;
}

.login_btn {
    width: 100%;
    background: rgb(254, 59, 59) !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
/* styles.css */
.messages {
    text-align: center;
    color: red;
    list-style-type: none;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid red;
    border-radius: 5px;
    max-width: 800px;
    position: relative;
}

.messages li {
    padding: 8px;
    margin-bottom: 8px;
}

.messages.error {
    background-color: #f2dede;
    color: #ff0400;
    border-color: #ebccd1;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #fb0400;
}
