body {
    background-color: rgb(254, 229, 229) !important;
    font: 1em/1.5 sans-seriff;
}

.navbar-brand{
    color: black;
}
.nav-link{
    color: black;
}

.nav-link:hover{
    color: #ffffff;
}

.nav-item:hover{
    background-color: rgb(249, 95, 95);
    border-radius: 10px;
    color: #ffffff;
}

h3{
    text-align: center;
    font-size: 50px;
    color: black;
}
h6{
    text-align: center;
    color: black;
}
.gap{
    height: 50px;
}

.user_card {
    width: 900px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgb(250, 205, 205);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.form_container {
    margin-top: 20px;
}
#form-title {
    color: #fff;
}

form {
    margin: 18px auto;
    width: 320px;
    color: rgb(0, 0, 0);
}
.styled-box {
    background-color: #f5ecec;
    border: 2px solid rgb(255, 83, 83);
    padding: 1px;
}
.h{height: 5px;}

.login_btn {
    width: 100%;
    background: rgb(254, 59, 59) !important;
    color: white !important;
}
        
.login_btn:focus {
    box-shadow: none !important;
   outline: 0px !important;
}
        
.login_container {
     padding: 0 2rem;
}
   

input {
    padding: 8px;
    font-size: inherit;
}

.Age {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid rgb(255, 83, 83);
    background-color: #f5ecec;
}

input[type="radio"] {
    margin: 0 8px 25px 18px;
}

input[type="radio"]:first-child {
    margin-left: 0;
}

input[type="submit"] {
    width: 344px;
    height: 45px;
    border: none;
    background: steelblue;
    color: white;
}

input:focus {
    background: white;
}

input[type="radio"]:checked+label {
    font-weight: bold;
    font-size: 18px;
}

.footer {
    background-color: #333; /* Charcoal black background */
    color: white; /* White text color */
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
